.gpt3--possibility {
    display: flex;
    flex-direction: row;
}

.gpt3--possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.gpt3--possibility-image img {
    width: 100%;
    height: 100%;
}

.gpt3--possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5rem;
}

.gpt3--possibility-content h4 {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #ff8171;
    cursor: pointer;
}

.gpt3--possibility-content h1 {
    font-family: var(--font-family);
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    margin: 1rem 0;
}

.gpt3--possibility-content p {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 2rem;
    color: var(--color-text);
}

@media screen and (max-width: 950px) {
    .gpt3--possibility {
        flex-direction: column;
    }
    .gpt3--possibility-image {
        margin: 1rem 0;
    }
    .gpt3--possibility-content {
        margin-top: 2rem;
    }
}
