.gpt3--footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
    color: white;
}

.gpt3--footer-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.gpt3--footer-heading h1 {
    font-family: var(--font-family);
    font-size: 60px;
    font-weight: 800;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04em;
}

.gpt3--footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 10rem;
}

.gpt3--footer-btn p {
    font-family: var(--font-family);
    font-size: 18px;
    padding: 1rem 3rem;
    color: #f4f4f4;
    background: transparent;
    cursor: pointer;
}

.gpt3--footer-button {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
}

.gpt3--footer-button:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.gpt3--footer-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(146, 148, 248, 0.4),
        transparent
    );
    transition: all 650ms;
}

.gpt3--footer-button:hover:before {
    left: 100%;
}

.gpt3--footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left;
}

.gpt3--footer-links div {
    width: 250px;
    margin: 1rem;
}

.gpt3--footer-links-logo {
    display: flex;
    flex-direction: column;
}

.gpt3--footer-links-logo img {
    width: 120px;
    height: 30px;
    margin: 0 0 1rem;
}

.gpt3--footer-links-logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: white;
}

.gpt3--footer-links-div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.gpt3--footer-links-div h4 {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin-bottom: 1rem;
}

.gpt3--footer-links-div p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: white;
    margin: 0.5rem 0;
    cursor: pointer;
}

.gpt3--footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.gpt3--footer-copyright p {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 16px;
    color: white;
}

@media screen and (max-width: 850px) {
    .gpt3--footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .gpt3--footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
    .container p {
        font-size: 14px;
        line-height: 20px;
    }
    .gpt3--footer-links div {
        margin: 1rem 0;
    }
}

@media screen and (max-width: 450px) {
    .gpt3--footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}
